<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <title>Toshi</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/admin.css" rel="stylesheet">
  <link href="css/component.css" rel="stylesheet">
  <meta content="Toshi Explorer - Open source Bitcoin, Litecoin Explorer">
  <meta content="Toshi is a built on top of Ruby and PostgreSQL. It’s 100% Open source">
  <meta content="https://coinbase.com/assets/toshi/og-toshi.jpg">
  <meta content="website">
  <meta content="Toshi Explorer - Open source Bitcoin, Litecoin Explorer">
  <meta content="Toshi is a built on top of Ruby and PostgreSQL. It’s 100% Open source">
  <meta content="https://coinbase.com/assets/toshi/og-toshi.jpg">
  <link href="/images/favicon.ico" rel="shortcut icon">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/handlebars-v2.0.0.js"></script>
  <script src="js/TweenLite.min.js"></script>
  <script src="js/EasePack.min.js"></script>
  <script src="js/rAF.js"></script>
  <script src="js/network-animation.js"></script>
  <script src="js/main.js"></script>
</head>

<body class="network_explorer">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid clearfi">
        <a class="toshi_logo" href="/">Toshi Bitcoin network Explorer</a>

        <!-- <ul class="nav navbar-nav">
          <li class="active">
            <a href="index.html">Home</a>
          </li>

          <li>
            <a href="stats.html">Status</a>
          </li>

          <li>
            <a href="stats.html">Documentation</a>
          </li>
        </ul> -->

        <ul class="network_status syncing">
          <li class="dropdown select_network">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <h4>Bitcoin <span>(BTC)</span></h4><span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li>
                <a href="">Litecoin (LTC)</a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <div class="page_wraper clearfix" id="top">
    <%= yield %>

    <section class="share_wraper">
      <a class="share" href="#">
        <svg viewBox="0 0 177 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <path d="M88.5,13.2628005 L165.781682,57.8814002 L165.781682,147.1186 L88.5,191.7372 L11.2183183,147.1186 L11.2183183,57.8814002 L88.5,13.2628005 Z" id="Polygon-1" stroke-opacity="0.3" stroke="#85a4d7" stroke-width="6" fill="#2C3D5C" sketch:type="MSShapeGroup"></path>
          </svg>
      </a> 
      <a class="facebook" href="#">
        <svg viewBox="0 0 177 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <path d="M88.5,13.2628005 L165.781682,57.8814002 L165.781682,147.1186 L88.5,191.7372 L11.2183183,147.1186 L11.2183183,57.8814002 L88.5,13.2628005 Z" id="Polygon-1" stroke-opacity="0.3" stroke="#85a4d7" stroke-width="6" fill="#2C3D5C" sketch:type="MSShapeGroup"></path>
          </svg>
      </a>
      <a class="twitter" href="#">
        <svg viewBox="0 0 177 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <path d="M88.5,13.2628005 L165.781682,57.8814002 L165.781682,147.1186 L88.5,191.7372 L11.2183183,147.1186 L11.2183183,57.8814002 L88.5,13.2628005 Z" id="Polygon-1" stroke-opacity="0.3" stroke="#85a4d7" stroke-width="6" fill="#2C3D5C" sketch:type="MSShapeGroup"></path>
          </svg>
      </a>
      <a class="google" href="#">
        <svg viewBox="0 0 177 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <path d="M88.5,13.2628005 L165.781682,57.8814002 L165.781682,147.1186 L88.5,191.7372 L11.2183183,147.1186 L11.2183183,57.8814002 L88.5,13.2628005 Z" id="Polygon-1" stroke-opacity="0.3" stroke="#85a4d7" stroke-width="6" fill="#2C3D5C" sketch:type="MSShapeGroup"></path>
          </svg>
      </a>
      <a class="reddit" href="#">
        <svg viewBox="0 0 177 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <path d="M88.5,13.2628005 L165.781682,57.8814002 L165.781682,147.1186 L88.5,191.7372 L11.2183183,147.1186 L11.2183183,57.8814002 L88.5,13.2628005 Z" id="Polygon-1" stroke-opacity="0.3" stroke="#85a4d7" stroke-width="6" fill="#2C3D5C" sketch:type="MSShapeGroup"></path>
          </svg>
      </a>
    </section><!-- SHARE -->
    <a class="back_up" href="#top">
      <svg viewBox="0 0 177 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <path d="M88.5,13.2628005 L165.781682,57.8814002 L165.781682,147.1186 L88.5,191.7372 L11.2183183,147.1186 L11.2183183,57.8814002 L88.5,13.2628005 Z" id="Polygon-1" stroke-opacity="0.3" stroke="#85a4d7" stroke-width="6" fill="#2C3D5C" sketch:type="MSShapeGroup"></path>
          </svg>
    </a>
  </div>

  <script type="text/javascript">
    toshi.init();
  </script>
</body>
</html>