<div class="sidebar_wraper tx_view">
  <section class="sidebar">

     <div class="main_search" style="display:none;">
      <div class="section_title">
        <h2>Search <span>search in network for address, block, transaction</span>
        </h2>
         <div class="search">
            <input type="email" class="search-control" id="exampleInputEmail1" placeholder="Type in address, block, transaction">
          </div>
      </div>
    </div>

    <div class="tx_stats stats">
    <h3>TRANSACTION</h3>
      <ul class="clearfix row">
        <li class="clearfix  col-md-12">
          <h3>Hash</h3>
          <p>bf611965768f1b4e9cc32f5f9b0d78fe045014c6152073734c6773c14cbde79d</p>
        </li>
        <li class="clearfix col-md-5 col-xs-12">
          <h3>Time</h3>
          <p>2014-09-22 | 11:11:21</p>
        </li>
        <li class="clearfix col-md-7 col-xs-12 margin-left">
          <h3>Sum of incoming txs</h3>
          <p>2,907,162.54267506 <span>BTC</span></p>
        </li>
        <li class="clearfix col-md-7 col-xs-12">
          <h3>Sum of outgoing txs</h3>
          <p>2,907,162.54267506 <span>BTC</span></p>
        </li>
        <li class="clearfix col-md-5 col-xs-12 margin-left">
          <h3>Fee</h3>
          <p>0.03327430 <span>BTC</span></p>
        </li>
        <li class="clearfix col-md-5 col-xs-12">
          <h3>Confirmations</h3>
          <p>139397</p>
        </li>
        <li class="clearfix col-md-7 col-xs-12 margin-left">
        <a href="#">
          <h3>Included in block</h3>
          <p>509293</p>
        </a>
        </li>
      </ul>
    </div>

    <div class="coin_chain">
     <div class="info_nav">
        <a class="info_next" href="">
          <h5>NEXT:<span>WHAT IS BLOCK?</span></h5>
           <svg viewBox="0 0 177 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <path d="M88.5,13.2628005 L165.781682,57.8814002 L165.781682,147.1186 L88.5,191.7372 L11.2183183,147.1186 L11.2183183,57.8814002 L88.5,13.2628005 Z" id="Polygon-1" stroke-opacity="0.3" stroke="#85a4d7" stroke-width="6" fill="#2C3D5C" sketch:type="MSShapeGroup"></path>
          </svg>
        </a>
        <a class="info_prev" href="">
           <svg viewBox="0 0 177 205" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
             <path d="M88.5,13.2628005 L165.781682,57.8814002 L165.781682,147.1186 L88.5,191.7372 L11.2183183,147.1186 L11.2183183,57.8814002 L88.5,13.2628005 Z" id="Polygon-1" stroke-opacity="0.3" stroke="#85a4d7" stroke-width="6" fill="#2C3D5C" sketch:type="MSShapeGroup"></path>
          </svg>
        </a>
     </div>

    <div class="section_title explain clearfix">
      <h3>What is Transaction</h3>
      <p>For any block on the chain, there is only one path to the genesis block. Coming from the genesis block, however, there can be forks. One-block forks are created from time to time when two blocks are created just a few seconds apart. When that happens, generating nodes build onto whichever one of the blocks they received first. Whichever block ends up being included in the next block becomes part of the main chain because that chain is longer. More serious forks have occurred after fixing bugs that required backward-incompatible changes.</p>
      <a href="#" target="_blank">read more on Wikipedia</a>

    </div> 
  </div>

  </section><!-- sidebar -->
  <footer>
            <p>Toshi Explorer by
            <a href="https://coinbase.com/" target="_blank" class="coinbase_logo">Coinbase</a></p>
      </footer>
</div><!-- sidebar_wraper -->

<section class="chain_wraper clearfix tx_view">
  <div class="main_chain clearfix">
    <div class="main_chain_wraper stats">
      

      <ul class="clearfix">
        <li>
          <a href="#" class="block_tx clearfix">
          <h3>coinbase</h3>
            <div class="tx_hash">
              <p>dc99ad22bef37db2c92a499dd5e672178c179b5a4de6a8a0eff99893eb7d10f0</p> 
            </div>
            <div class="tx_fee">
              <p>50.044 <span>BTC</span></p>
            </div>
          </a>
        </li>

        <li>
          <a href="#" class="block_tx clearfix">
            <div class="clearfix">
              <div class="tx_hash">
                <p>dc99ad22bef37db2c92a499dd5e672178c179b5a4de6a8a0eff99893eb7d10f0</p> 
              </div>
              <div class="tx_fee">
                <p>50.044 <span>BTC</span></p>
              </div>
            </div>
          </a>
          <div class="expand">
              <span>expand</span>

          <div class="row tx_info_wraper">
            <div class="col-sm-6 from-row">
              <div class="row">
                <div class="tx_line">
                  <div class="col-xs-9 from">
                    <!-- <a class="badge" href="/tx/info/09b4221b6e7f5d611e8e622337d4a36d4eeac53e922fe8a51e14016315774849">
                      <span class="add">from Transaction</span>
                    </a> -->
                    <a href="/address/info/LM1oRV9HCYjQDZ8D1L1KQgjm9vkFGRmdPY" class="ng-binding">LM1oRV9HCYjQDZ8D1L1KQgjm9vkFGRmdPY</a>
                  </div>
                  <div class="col-xs-3 from-amount">
                    <span class="ng-binding">-37.1379 BTC</span>
                  </div>
                </div><!-- tx_line -->

                <div class="tx_line">
                  <div class="col-xs-9 from">
                    <!-- <a class="badge" href="/tx/info/09b4221b6e7f5d611e8e622337d4a36d4eeac53e922fe8a51e14016315774849">
                      <span class="add">from Transaction</span>
                    </a> -->
                    <a href="/address/info/LM1oRV9HCYjQDZ8D1L1KQgjm9vkFGRmdPY" class="ng-binding">LM1oRV9HCYjQDZ8D1L1KQgjm9vkFGRmdPY</a>
                  </div>
                  <div class="col-xs-3 from-amount">
                    <span class="ng-binding">-37.1379 BTC</span>
                  </div>
                </div><!-- tx_line -->

                <div class="tx_line">
                  <div class="col-xs-9 from">
                    <!-- <a class="badge" href="/tx/info/09b4221b6e7f5d611e8e622337d4a36d4eeac53e922fe8a51e14016315774849">
                      <span class="add">from Transaction</span>
                    </a> -->
                    <a href="/address/info/LM1oRV9HCYjQDZ8D1L1KQgjm9vkFGRmdPY" class="ng-binding">LM1oRV9HCYjQDZ8D1L1KQgjm9vkFGRmdPY</a>
                  </div>
                  <div class="col-xs-3 from-amount">
                    <span class="ng-binding">-37.1379 BTC</span>
                  </div>
                </div><!-- tx_line -->

              </div>
            </div><!-- from-row -->

            <div class="col-sm-6 to-row">
              <div class="row">
                <div class="col-xs-9 col-sm-8 to">
                  <a href="/address/info/LM1oRV9HCYjQDZ8D1L1KQgjm9vkFGRmdPY" class="ng-binding">LM1oRV9HCYjQDZ8D1L1KQgjm9vkFGRmdPY</a>
                </div>
                <div class="col-xs-3 col-sm-4 spent">
                  <span class="ng-binding">-37.1379 BTC</span>
                  <!-- <a class="badge" href="/tx/info/09b4221b6e7f5d611e8e622337d4a36d4eeac53e922fe8a51e14016315774849">
                  <span class="add">to Transaction</span>
                  </a> -->
                </div>
              </div>
            </div><!-- from-row -->
          </div><!-- tx_info_wraper -->


          </div><!-- expander -->
         
        </li>

      </ul>


    </div>
  </div>

</section><!-- chain_wraper -->


